body {
	margin-top: 20px;
}

.jumbotron img {
	width:200px;

	border:5px solid grey;
}

 hr {
	width:250px;
	border-top:4px solid ;
}

section {
	min-height: 600px;
}

.portfolio {
	background-color: #eee;
}

footer {
	width: 100%;
	height: 120px;
	bottom: 0;
	background-color: #333;
}

footer p {
	padding-top: 30px;
	color: #999;
	font-size: 18px;
}